@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
@import "tailwindcss";

@theme {
  --font-tajawal: "Tajawal", sans-serif;
  --color-primary: #0a3723;
  --color-accent: #d4af37;
  --color-hover-accent: #b8962f;
  --color-neutral-white: #ffffff;
  --color-neutral-dark-gray: #1a1a1a;
  --color-neutral-light-gray: #f5f5f5;
}
